.accont-created{
    position: static;
    width: 439px;
    height: 26px;
    left: 24px;
    top: 104px;
    
    /* Text/Semibold/600 */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */
    
    text-align: center;
    
    /* Color/Dark Grey/600 */
    
    color: #1E2A36;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    }
    
    
    
    .account-confirm-links {
    position: static;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.08em;
    color: #0C9968;
    text-transform: uppercase;
    }
    
    .account-confirm-links :hover {
        /* color:chocolate;
        font-size: larger; */
        color: rgba(35, 179, 128,0.8)
    }
    
    
    .accont-created-desc{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #324452;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    }
    
    
    .resend-otp {
        font-family: 'MontSerrat'; 
        font-weight: 600; 
        font-size: 14px; 
        letter-spacing: 0.08rem; 
        color: #1279C8;
    }