.edit-num{
    position: static;
width: 439px;
height: 23px;
left: 24px;
top: 24px;

/* Text/Semibold/500 */

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
/* or 23px */

display: flex;
align-items: center;

/* Color/Dark Grey/500 */

color: #263643;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.phn-label{
    position: static;
width: 439px;
height: 21px;
left: 0px;
top: 0px;

/* Text/Medium/300 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

display: flex;
align-items: center;

/* Color/Dark Grey/400 */

color: #324452;


/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.phn-input{
    /* Frame 1 */


/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px 12px 8px;

position: static;
width: 439px;
height: 45px;
left: 0px;
top: 29px;

/* Color/Light Grey/100 */

background: #FAFAFA;
/* Color/Dark Grey/100 */

border: 1px solid #94A1B1;
box-sizing: border-box;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.signup-form-input-mobile img {
    position: absolute;
  }

.signup-form-input-icon {
    padding: 15px;
    min-width: 15px;
  }

  .signup-form-input-field {
    width: 100%;
    flex-grow: 2;
    padding-left: 40px;
    text-align: left;
    color: #263643;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #94a1b1;
    border-radius: 8px;
    background: #fafafa;
    height: 45px;
  }

.form-group{ padding-bottom: 18px}
.form-control {
  /* width: 100%; */
height: 55px;
padding: 5px 200px 5px 85px;
background: #FFFFFF;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
border-radius: 55px;
border: inherit;
font-size: 14px;
font-weight: 600;
color: #324452;
width: 393px;
}

.error-msg {
  font-weight: 500;
  font-size: 12px;
  color: #d60000;
}