<div class="">
    <mat-dialog-content class="">
        <div class="font-14 heading">
            <h4>{{ data?.message }}<span><button class="closeButton" (click)="closeDialogue()">X</button></span></h4>
        </div>
        <div class="py-10 font-8">
            {{ data?.message2 }}
        </div>
        <form [formGroup]="loginForm">
            <!-- <div class="form-group phn-input">
        <input class="form-control" type="text" formControlName="phone" placeholder="Phone Number" phone-number readonly>
        <mat-error class="error-msg" *ngIf="l.phone.touched && l.phone.errors?.minlength">
            Mobile number should be 10 digits
        </mat-error>
     </div> -->

     <div class="setup-account-input-icons">
        <img class="setup-account-icon" src="../../../../../assets/img/phone-icon.svg" alt="" />
        <input oncopy="return false" onpaste="return false" class="form-control setup-account-input-field-left" type="text" formControlName="phone" placeholder="Phone Number">
        <mat-error class="error-msg" *ngIf="l.phone.touched && l.phone.errors?.minlength">
            Mobile number should be 10 digits
        </mat-error>
    </div>
     <div class="setup-account-input-icons">
        <img class="setup-account-icon" src="../../../../../assets/img/password-lock.svg" alt="" />
        <input oncopy="return false" onpaste="return false" class="form-control setup-account-input-field-left" [type]="show_button ? 'text' : 'password'" formControlName="password" placeholder="Password">
        <mat-icon class="font-16 cursor-pointer field-icon" matSuffix (click)="showPassword()">{{show_button ? 'visibility_off' : 'visibility'}}</mat-icon>
        
        <mat-error class="error-msg" *ngIf="l.password.touched && l.password.errors?.required">
          Required
        </mat-error>
        <mat-error class="error-msg" *ngIf="l.password.touched && l.password.errors?.minlength">
          Password should be atleast 6 characters
        </mat-error>
        <mat-error class="UnauthorizedErrorMessage">{{UnauthorizedLoginMessage}}</mat-error>

    </div>
     <!-- <div class="form-group phn-input">
        <input class="form-control" [type]="show_button ? 'text' : 'password'" formControlName="password" placeholder="Password" password>
        <mat-error class="error-msg" *ngIf="l.password.touched && l.password.errors?.required">
            Password is required
        </mat-error>
        <mat-icon class="font-16 cursor-pointer field-icon" matSuffix (click)="showPassword()">{{show_button ? 'visibility_off' : 'visibility'}}</mat-icon>
        <div class="UnauthorizedErrorMessage">{{UnauthorizedLoginMessage}}</div>
      </div> -->
     <div class="form-group phn-input">
        <a class="font-w6" style="color: #0C9968" (click)="forgotPassword()">FORGOT PASSWORD?</a>
     </div>
     <button class="btn btn-primary btn-block" type="button" (click)="loginWithPassword()">LOGIN</button>
        </form>
        <div class="pt-10">
        <button class="btn btn-block"  style="color: #0C9968" (click)="loginWithOtp()" type="button">LOGIN WITH OTP</button>
    </div>
    </mat-dialog-content>

</div>
