.mat-dialog-content {
  overflow: hidden;
}

.UnauthorizedErrorMessage {
  font-family: Montserrat;
  margin-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #d60000;
}

.closeButton {
  background: none;
  float: right;
  background: none;
  font-weight: 600;
  /* margin-top: 5px; */
  border: 1px solid black;
  color: black;
  font-size: 14px;
}

.setup-account-input-icons img {
  position: absolute;
}

.setup-account-input-icons {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.setup-account-icon {
  padding: 12px;
  min-width: 15px;
}

.setup-account-input-field-left {
  width: 100%;
  padding-left: 40px;
  text-align: left;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}