
  <!-- Our Products Section Start -->
  <section class="our-products-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h6>Our products</h6>
          <div class="row">
            <div class="col-12 col-md-6 mb-25">
              <div class="product-box wow fadeInLeft" data-wow-delay="0.3s">
                <span class="badge badge-success">Assessments</span>
                <h2>Practice what you know</h2>
                <p>Master your concepts and prepare for your exams with our curated assessments</p>
                <!-- <button onclick="window.location.href='assessments.html'" type="button" class="btn-link">EXplore</button> -->
                <img class="img" src="assets/img/practice-icon.svg" alt="practice">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="product-box wow fadeInRight" data-wow-delay="0.3s">
                <span class="badge badge-info">Live CLASS</span>
                <h2>Attend a live class</h2>
                <p>Join a live class and get expert tips for exam preparation</p>
                <!-- <button onclick="window.location.href='live-class.html'" type="button" class="btn-link">EXplore</button> -->
                <img class="img" src="assets/img/live-class-icon.svg" alt="practice">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary d-flex align-items-center mar-top">view All products <img
                src="assets/img/btn-right-arrow.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Products Section End -->