
  <!-- Header Start -->
  <header class="wow fadeInUp profile" data-wow-delay="0.2s">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <a class="logo" href="index.html"><img src="assets/img/logo-dark.svg" alt="Infinity Learn"> </a>
          <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
          <div class="logo-right">
            <div class="btn-group profile-btn-group">
              <button type="button" class="dropdown-toggle" data-toggle="dropdown" data-display="static"
                aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/profile-img.jpg" alt="">
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right">
                <button class="dropdown-item" type="button" onclick="window.location.href='edit-profile.html'"><img
                    src="assets/img/edit-profile-icon-dark.svg" alt="Edit Profile"> Edit Profile</button>
                <button class="dropdown-item" type="button"><img src="assets/img/logout-icon-dark.svg" alt="Logout">
                  Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->
