.verifyemail {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.08em;
text-transform: uppercase;
color:#0C9968;
background: none;
border: none;

}
