$white: #ffffff;
$black: #000000;
$black2: #080808;
$red: #d0021b;
$green: blue;
$yellow: crimson;
$yellow2: #FFD300;
$cyan: #2283a3;
$blue: #1e81cb;

$dark-blue: #101c36;
$dark-blue2: #212C44;

$pink: #cf5fbd;
$orange: orange;

$grey: #3e4959;
$grey2: #596679;
$grey3: #959FAD;
$silver: #e1e1e1;
$blue2: #2a81cc;
$blue3: #f3f6fa;
$blue4: #87b8e2;
$oxford-blue: #3e4959;
$oxford-blue2: #333e4d;
$dodgerblue: dodgerblue;

