<div class="">
    <mat-dialog-content class="terms-box" (keyup)="keyEscape($event)" >
        <!-- <div class="font-14 heading">
            <h4>{{ data?.message }} </h4>
        </div> -->
        <!-- <div class="py-10 font-8">
            {{ data?.message2 }}
        </div> -->
        <!-- <form > -->

        <div class="content">
            <h4>Terms and Conditions</h4>
            <h5>Privacy Policy:</h5>
            <p>
                This privacy policy governs the use of application namely “Infinity Learn” Use of our Mobile and Web
                Applications and its terms and conditions (T and C) are between the user of the Mobile and Web
                Applications and Rankguru Technology Solutions Private Limited <b> ( Herein after referred to as “
                    Rankguru”)</b>
            </p>

            <p>
                You are requested to read terms with respect to this Mobile Application before using the same. By
                continuing to access or use this Mobile and Web Applications and or any portion of it, you agree that
                you have read and understood the Terms and Conditions stated herein and that you agree at all times to
                be bound by these Terms and to any updated Terms and conditions that we may publish from time to time
                (without prior notice). If you do not agree with the terms of this Policy, do not use the Website,
                Application our products or avail any of our Services.
            </p>

            <p>
                This Policy covers the treatment of personally identifiable information (“Personal Information”) of the
                authorized users of the Mobile Application (“User(s)”), that the Rankguru collects as part of its
                services through the Mobile and Web Applications (the “Services”). This Policy does not describe
                information collection policies of other third-party sites that may be linked from the Mobile and Web
                Applications.
            </p>

            <p>
                These Terms and Conditions are in addition to any other agreements between you and Rankguru. In no
                circumstances Rankguru be held liable for any damages occasioned to you as a consequence of the
                amendment, disruption, suspension or deletion of its Mobile and Web Applications. You undertake not to
                disrupt, or attempt to disrupt, the functioning of the Mobile and Web Applications. Rankguru reserve the
                right to change any of the Terms and Conditions, which change shall become effective immediately.
            </p>

            <h5>User Obligations:</h5>
            <ol>
                <li>The below mentioned provisions are for the benefit of Rankguru, its subsidiaries, affiliates and its
                    third-party content providers and licensers and each shall have the right to assert and enforce such
                    provisions directly or on its own behalf.</li>
                <li>You shall use the Mobile and Web Applications for lawful and permitted purposes only.</li>
                <li>You shall not post or transmit through the Mobile and Web Applications any material which violates
                    or infringes in anyway upon the rights of any person, which is unlawful, threatening, abusive,
                    defamatory, invasive of privacy, vulgar, obscene, profane or otherwise objectionable, which
                    encourages conduct that would constitute a criminal offense, give rise to civil liability or
                    otherwise violate any law, or which contains advertising or any solicitation with respect to
                    products or services. </li>
                <li> You shall not use the Mobile and Web Applications to advertise or perform any commercial
                    solicitation, including, but not limited to, the solicitation of other users to become clients of
                    other similar on-line services competitive with the Mobile and Web Applications and/or Rankguru.
                </li>
                <li>You acknowledge and agree that the Mobile and Web Applications contains copyrighted material,
                    trademarks and other proprietary information, including, but not limited to, div, Application,
                    photos, video, graphics, and sound. The entire contents of the Mobile and Web Applications are
                    copyrighted.</li>
                <li>It shall be your responsibility to seek the advice of professionals, as appropriate, regarding the
                    evaluation of any specific information, opinion, advice or other content obtained by you from the
                    Mobile and Web Applications or in a Mobile and Web Applications advertised in the Mobile and Web
                    Applications. </li>
                <li>You shall not send to us any unsolicited ideas. If you send to us any such unsolicited ideas, they
                    shall unconditionally become the property of Rankguru and you shall have no further claim towards
                    such unsolicited ideas.</li>
                <li>You shall not upload, post or otherwise make available on our Mobile and Web Applications any
                    material protected by copyright, trademark or other proprietary right without the express permission
                    of Rankguru and the owner of the copyright, trademark or other proprietary right and the burden of
                    determining that any material is not protected by copyright rests with you. You shall be solely
                    liable for and you shall indemnify us against all claims, liabilities, actions, proceedings and
                    costs that Rankguru may be subjected to, whether or not any damage is caused to any third party
                    resulting from any infringement of copyrights, proprietary rights, or any other harm resulting from
                    such a submission.</li>
                <li>By submitting material to any public area of the Mobile Application, you automatically grant, or
                    warrant that the owner of such material has expressly granted to the Mobile and Web Applications the
                    royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify,
                    adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to
                    incorporate it in other works in any form, media or technology now known or hereafter developed for
                    the full term of any copyright that may exist in such material. </li>
                <li>You may download copyrighted material from the Mobile Application only upon purchase. Such downloads
                    shall be only for your personal use. Except as otherwise expressly permitted by the Mobile and Web
                    Applications or under copyright law, no copying, redistribution, retransmission, publication or
                    commercial exploitation of downloaded material will be permitted without the express written
                    permission of Rankguru and the copyright owner.</li>
                <li>If any content posted on the Mobile and Web Applications seems copied from another work or if
                    infringing any other copyrighted work, you shall inform us of the same, along with a brief statement
                    of reasons for the same so that we may eliminate such infringing work from the Mobile and Web
                    Applications. </li>
                <li>You shall not make any changes in or deletion of author attribution, trademark legend or copyright
                    notice in the material copied from the Mobile and Web Applications. You acknowledge that you do not
                    acquire any ownership rights by downloading the copyrighted material on the Mobile and Web
                    Applications. </li>
                <li>You acknowledge and agree that all trademarks included in the Mobile and Web Applications are the
                    property of their respective owners. You shall not copy, reproduce or otherwise use the trademarks
                    in the Mobile and Web Applications except for your personal, non-commercial use, unless you are
                    authorized to do so by the owner of the trademark.</li>
                <li> You shall ensure that you have completed Eighteen (18) years of age at the time of registering on
                    the Mobile and Web Applications.</li>
                <li>You shall not share your username or password meant to access your account on the Mobile and Web
                    Applications with anyone. </li>
            </ol>

            <h5>Rankguru's monitoring:</h5>
            <ol>
                <li>We shall have the right to monitor all the content in the Mobile Application in order to ensure that
                    there is no violation of the Terms and Conditions. If we find, in our sole discretion, that any
                    content is in violation of the Terms and Conditions or is otherwise objectionable, we reserve the
                    right to remove such content from the Mobile and Web Applications, without prior notice to you. We
                    shall have the exclusive right to refuse to remove material or post certain material on the Mobile
                    and Web Applications. In such instances, the Rankguru may also disclose Your Account Information if
                    required by any Governmental or legal authority. You understand that the violation of these Terms
                    could also result in civil or criminal liability under applicable laws.</li>
            </ol>
            <h5>Confidentiality:</h5>
            <ol>
                <li>Information which is specifically identified as confidential at the time of disclosure shall at all
                    times be kept confidential by you and shall not be disclosed to anyone without our prior written
                    consent. we limit access to this Information to authorized employees only who need to know that
                    information in order to operate, develop or improve our Application/Services/products/Website.
                    Please be aware that, although we endeavor to provide reasonable security for information we process
                    and maintain, no security system can prevent all potential security breaches.</li>
            </ol>
            <h5>Commercial Terms:</h5>
            <ol>
                <li>You agree that you shall pay all charges and expenses, if any, incurred in connection with use and
                    access of the Mobile and Web Applications at the rates in effect when the charges were incurred.
                    Such charges shall be charged to the credit card number provided by you during the purchase. If you
                    fail to pay such charges, we reserve the right to initiate appropriate legal proceedings against you
                    for recovery of such charges.</li>
            </ol>
            <h5>Indemnification:</h5>

            <ol>
                <li> You shall hold harmless and indemnify us against any loss, damage or liability arising out of or in
                    connection with your use and access of the Mobile and Web Applications and/or the contents therein.
                </li>
            </ol>

            <h5>Change in Service:</h5>
            <ol>
                <li>Rankguru reserves the right to modify, suspend, or discontinue the availability of the Mobile and
                    Web Applications at any time, and Rankguru will not be liable to you for any damage or loss caused
                    to you due to its exercise of such right.</li>
            </ol>

            <h5>Reservation of rights:</h5>
            <ol>
                <li>You may not use the Mobile and Web Applications or the contents therein for any illegal purpose.
                    Rankguru reserves the right to prohibit you from accessing the Mobile and Web Applications. </li>
            </ol>
            <h5>Right to Receive the Information:</h5>
            <ol>
                <li>The Mobile and Web Applications shall receive information about your use of the Mobile and Web
                    Applications. Such information is subject to our Privacy Policy.</li>
            </ol>
            <h5>Limitation of Liability:</h5>
            <ol>
                <li>Neither Rankguru nor any of its officers, directors, employees, partners or agents be liable to You
                    or any third party for any special, incidental, indirect, consequential or punitive damages for
                    breach of any express or implied warranty, breach of contract, negligence, strict liability or any
                    other legal theory. </li>
            </ol>

            <h5>Arbitration:</h5>
            <ol>
                <li>The Terms and Conditions shall be construed according to the laws of India and any dispute arising
                    between you and Rankguru shall be submitted to arbitration in accordance with the Arbitration and
                    Conciliation Act, 1996. You agree to subject yourself to the exclusive jurisdiction of courts at
                    Hyderabad, Telangana, India. </li>
            </ol>

            <h5>Waiver:</h5>
            <ol>
                <li>Waiver of any breach of the Terms and Conditions shall only be in writing and a waiver of a
                    particular breach shall not be deemed to be a waiver of any subsequent or continuing breach</li>
            </ol>

            <h5>Severability:</h5>
            <ol>
                <li>If any term or condition of this Terms and Conditions shall be deemed invalid, void, or for any
                    reason unenforceable, that part shall be deemed severable and shall not affect the validity and
                    enforceability of any remaining term or condition. </li>
            </ol>

            <h5>Type of Information Collected:</h5>
            <ol>
                <li>When a User access or registers himself/ herself/ itself, the Mobile and Web Applications may
                    collect some Personal Information including but not limited to, name, age, email address, date of
                    birth, grade, board, target exams, user name, password, whatsapp optin, financial information,
                    debit/ card details of the User or his/ her parents/ guardian and enterprise service configuration
                    settings etc. </li>
                <li>The Mobile and Web Applications also automatically collects aggregate information about the use of
                    the Mobile and Web Applications, including the pages most frequently visited, number of visitors
                    this Website receives daily and how long visitors stay on each page. </li>
                <li>The Services allows you to access third-party enterprise services including without limitation
                    Microsoft Office 365 and other Microsoft products or services from the User’s device (“Third Party
                    Enterprise Services”). When the User enters his/ her username and password or other credentials and
                    settings for the Third-Party Enterprise Services through the Mobile and Web Applications, the
                    information submitted by the User are stored securely. Such information given is used to connect the
                    User and authenticate him/ her with the Third-Party Enterprise Services. The User’s password(s) for
                    the Third- Party Enterprise Services will not be sent to the back-end/cloud servers of the Mobile
                    and Web Applications or to any other third-party. However, the User’s username and/or email address
                    for the Third-Party Enterprise Services will be sent to the back-end/cloud servers of the Mobile and
                    Web Applications for the purpose of licensing and enterprise management functions performed by the
                    respective enterprise administrators. The Rankguru may also send configuration information about the
                    Third-Party Enterprise Services from or to the backend/cloud servers of the Mobile and Web
                    Applications, for the purposes of allowing easier configuration of additional devices, or enterprise
                    management of these configurations by the respective enterprise administrators, or for cloud-based
                    backup and restore functions. </li>
                <li>The Rankguru may also collect such other anonymous data that is not associated with or linked to any
                    Personal Data (“Anonymous Data”) of the User and which, by itself, does not permit the
                    identification of any individual User. Anonymous Data includes without limitation, unique
                    identifiers of the device on which the Mobile and Web Applications is installed, such as VPN,
                    information of Wi-Fi connectivity and such other information. The Rankguru may also store these
                    unique identifiers, at many times and create a profile for you based on such Anonymous Data. </li>
                <li>The Mobile and Web Applications uses data collection devices such as “cookies” on your device
                    through which the Services is accessed that assist the Rankguru (a) in providing Services; and (b)
                    to allow you to enter your password less frequently during a session. </li>
            </ol>


            <h5>Use of the information Collected</h5>
            <ol>
                <li>
                    The Personal Information that the Rankguru collects from and about the User may be used to provide
                    the Services in an enhanced way. The Rankguru may monitor the User’s use of the Services, and may
                    freely use and disclose any information and materials received from the User or collected through
                    his/ her use of the Mobile and Web Applications for such purposes as the Rankguru may deem
                    appropriate, including but not limited to the purposes set out herein.
                    <ul>
                        <li>to effectively provide the Services; </li>
                        <li>for the purposes of Mobile and Web Applications verification or administering Application
                            upgrades;</li>
                        <li>to allow User to participate in surveys regarding Services; </li>
                        <li>to maintain the quality of the Services and provide general statistics regarding its use;
                        </li>
                        <li>to deliver Services, including email notifications, confirmations, technical notices,
                            updates, security alerts, and support and administrative messages that the User may request;
                        </li>
                        <li>archival or backup purposes; </li>
                        <li>to alert User about updated information and other such new or updated Services that may be
                            offered by the Rankguru; </li>
                        <li>to allow access to exclusive features or functionality of “Rank Guru” Learning Platform; and
                        </li>
                        <li>to resolve disputes, collect fees and troubleshoot problems. </li>
                    </ul>
                </li>
            </ol>



            <h5>Sharing of Information</h5>
            <ol>
                <li>The Rankguru may provide Personal Information of the User that it collects to third parties when
                    such third parties desire to provide, on a limited basis, information that may be of interest to the
                    User. </li>
                <li>The Rankguru may provide Personal Information if required to do so by law or regulation; to its
                    legal counsel, law enforcement officers, governmental authorities who have asserted their lawful
                    authority to obtain the information or where the Rankguru has in good faith reasonable grounds to
                    believe that such disclosure is reasonably necessary to enforce its Terms of Use or this Privacy
                    Policy. </li>
                <li>The Rankguru shall not rent, sell, or otherwise provide Personal Data received from you to third
                    parties without your consent, except as described in this Policy or as required by law. However, the
                    Rankguru and its affiliates reserve the right to share, sell and transfer some or all of the
                    Personal Data to other business entities should the Rankguru, or its assets, plan to merge with, or
                    be acquired by that business entity. </li>
            </ol>
            <h5>Security of Personal Information</h5>
            <ol>
                <li>The Rankguru is committed to protecting the security of any Personal Information of the User and
                    uses reasonable efforts including a variety of security technologies and procedures to help protect
                    such Personal Information from any unauthorized access, use or disclosure. The Rankguru will take
                    all reasonable measures in furtherance of the above commitment. However, the Rankguru cannot
                    guarantee that the Personal Data received from the User and other information stored on the servers
                    will be absolutely protected. Rankguru’s systems and the communications networks through which User
                    access the Services may be subject to security breaches and failures due to circumstances beyond
                    Rankguru’s reasonable control. These may include computer "hacking", data theft or and physical
                    theft among others. In such situations, the Rankguru will try to rectify the problems as soon as
                    possible. </li>
                <li>The User hereby acknowledges and understands that all Personal Information provided in using the
                    Services is with their knowledgeable consent and at the User’s own risk.</li>
            </ol>
            <h5>International Transfer of Data:</h5>
            <ol>
                <li>In the process of providing Services to the Users, the Rankguru may transfer the Personal
                    Information and other information that it collects to affiliated entities or other third parties
                    across borders, and from the Users’ country or jurisdiction to other countries or jurisdictions
                    around the world. The Users understand, acknowledge and consent to transferring information and
                    permitting the transfer of information, including Personal Information, to a country and
                    jurisdiction that does not have the same data protection laws as the Users’ jurisdiction. The Users
                    hereby consent to the transfer of his/ her/its information across countries or jurisdictions around
                    the world.</li>
            </ol>

            <h5>Modifications:</h5>
            <ol>
                <li>The Rankguru may revise and update this Privacy Policy at any time by posting such revised Privacy
                    Policy on the Application. User should periodically review the above Application for the latest
                    information on privacy practices. Once posted, those changes are effective immediately. Continued
                    access or use of the Services constitutes your acceptance of the changes and the amended Policy. By
                    using the Mobile Application, you consent to the collection and use of your information as outlined
                    in this Privacy Policy and to the Terms of Use for use. </li>
            </ol>
            <h5>Governing Law</h5>
            <ol>
                <li>The usage of the Services is exclusively governed by the laws of India and the jurisdiction of the
                    courts in the State of Telangana. The Rankguru expressly disclaims any implied warranties or
                    liabilities imputed by the laws of any other jurisdiction. </li>
            </ol>
            <h5>Advertisements</h5>
            <ol>
                <li>The Mobile and Web Applications may use third-party advertising companies to serve advertisements
                    when the User contacts it. These companies may use information (not including name, address, email
                    address, or telephone number of the user) about the User’s visits to the Mobile Application and
                    other websites in order to provide advertisements about goods and services of interest to User.
                </li>
            </ol>


            <h5>Grievance/ Queries</h5>
            <ol>
                <li>Any grievances or queries regarding this statement should be directed to the following contact
                    address:
                    Rankguru Technology Solutions Private Limited.
                    Plot no.141, Survey no.11/11-11/1,
                    Khanamet, Ranga Reddy District,
                    Ayappa society, Madhapur, Hyderabad, Telangana,
                    Pin Code – 500081, India. </li>
            </ol>

            <p>DISCLAIMER: THE APPLICATION AND THE SERVICES ARE PROVIDED ON AN "AS IS" BASIS WITH ALL FAULTS AND WITHOUT
                ANY WARRANTY OF ANY KIND. THE RANKGURU HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE
                APPLICATION/PRODUCTS AND THE SERVICES, INCLUDING WITHOUT LIMITATION, ALL IMPLIED WARRANTIES AND
                CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, ACCURACY, TIMELINESS.
                PERFORMANCE, COMPLETENESS, SUITABILITY AND NON-INFRINGEMENT. ADDITIONALLY, THE RANKGURU SHALL NOT BE
                LIABLE FOR ANY DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THE APPLICATION OR
                THE SERVICES. YOUR USE OF ANY INFORMATION OR MATERIALS ON THIS APPLICATION/SERVICES/PRODUCTS IS ENTIRELY
                AT YOUR OWN RISK, FOR WHICH WE SHALL NOT BE LIABLE. IT SHALL BE YOUR OWN RESPONSIBILITY TO ENSURE THAT
                SERVICES PROVIDED BY US MEET YOUR SPECIFIC REQUIREMENTS.</p>
            <h5>Feedback:</h5>

            <p>Any feedback You provide with respect to the Application shall be deemed to be non-confidential. The
                Application shall be free to use such information on an unrestricted basis. Further, by submitting the
                feedback, You represent and warrant that (i) Your feedback does not contain confidential or proprietary
                information of You or of third parties; (ii) the Rankguru is not under any obligation of
                confidentiality, express or implied, with respect to the feedback; (iii) the Application may have
                something similar to the feedback already under consideration or in development; and (iv) You are not
                entitled to any compensation or reimbursement of any kind from the Rankguru for the feedback under any
                circumstances, unless specified.</p>
            <ul>
                <li>
                    Under no circumstances shall the Rankguru be held responsible in any manner for any content provided
                    by other users even such content is offensive, hurtful or offensive. Please exercise caution while
                    accessing the Application.
                </li>
            </ul>

            <h5>Customer care:</h5>

            <p>Contact us for information concerning terms and conditions, by e-mail: queries@rankgurutech.com Reach of
                service support contact customer service by lmssupport@rankgurutech.com or by Phone at 91-040-30001999
            </p>

        </div>

        <!-- <div class="content">
            <pre>
                Terms and Conditions
    Privacy Policy:
    This privacy policy governs the use of application namely “……………………………………..”Use of our
    Mobile and Web Applications and its terms and conditions (T and C) are between the user of the
    Mobile and Web Applications and Rankguru Technology Solutions Private Limited ( Herein after
    referred to as “ Rankguru”).
    You are requested to read terms with respect to this Mobile Application before using the same. By
    continuing to access or use this Mobile and Web Applications and or any portion of it, you agree
    that you have read and understood the Terms and Conditions stated herein and that you agree at
    all times to be bound by these Terms and to any updated Terms and conditions that we may publish
    from time to time (without prior notice). If you do not agree with the terms of this Policy, do not use the
    Website, Application our products or avail any of our Services.
    This Policy covers the treatment of personally identifiable information (“Personal Information”) of
    the authorized users of the Mobile Application (“User(s)”), that the Rankguru collects as part of its
    services through the Mobile and Web Applications (the “Services”). This Policy does not describe
    information collection policies of other third-party sites that may be linked from the Mobile and
    Web Applications.
    These Terms and Conditions are in addition to any other agreements between you and Rankguru. In
    no circumstances Rankguru be held liable for any damages occasioned to you as a consequence
    of the amendment, disruption, suspension or deletion of its Mobile and Web Applications. You
    undertake not to disrupt, or attempt to disrupt, the functioning of the Mobile and Web
    Applications. Rankguru reserve the right to change any of the Terms and Conditions, which change
    shall become effective immediately.
    User Obligations:
    ➢ The below mentioned provisions are for the benefit of Rankguru, its subsidiaries, affiliates
    and its third-party content providers and licensers and each shall have the right to assert and
    enforce such provisions directly or on its own behalf.
    ➢ You shall use the Mobile and Web Applications for lawful and permitted purposes only.
    ➢ You shall not post or transmit through the Mobile and Web Applications any material which
    violates or infringes in anyway upon the rights of any person, which is unlawful, threatening,
    abusive, defamatory, invasive of privacy, vulgar, obscene, profane or otherwise
    objectionable, which encourages conduct that would constitute a criminal offense, give rise
    to civil liability or otherwise violate any law, or which contains advertising or any solicitation
    with respect to products or services.
    ➢ You shall not use the Mobile and Web Applications to advertise or perform any commercial
    solicitation, including, but not limited to, the solicitation of other users to become clients of 
    other similar on-line services competitive with the Mobile and Web Applications
    and/or Rankguru.
    ➢ You acknowledge and agree that the Mobile and Web Applications contains copyrighted
    material, trademarks and other proprietary information, including, but not limited to, div,
    Application, photos, video, graphics, and sound. The entire contents of the Mobile and Web
    Applications are copyrighted.
    ➢ It shall be your responsibility to seek the advice of professionals, as appropriate, regarding
    the evaluation of any specific information, opinion, advice or other content obtained by you
    from the Mobile and Web Applications or in a Mobile and Web Applications advertised in the
    Mobile and Web Applications.
    ➢ You shall not send to us any unsolicited ideas. If you send to us any such unsolicited ideas,
    they shall unconditionally become the property of Rankguru and you shall have no further
    claim towards such unsolicited ideas.
    ➢ You shall not upload, post or otherwise make available on our Mobile and Web Applications
    any material protected by copyright, trademark or other proprietary right without the
    express permission of Rankguru and the owner of the copyright, trademark or other
    proprietary right and the burden of determining that any material is not protected by
    copyright rests with you. You shall be solely liable for and you shall indemnify us against all
    claims, liabilities, actions, proceedings and costs that Rankguru may be subjected to, whether
    or not any damage is caused to any third party resulting from any infringement of copyrights,
    proprietary rights, or any other harm resulting from such a submission.
    ➢ By submitting material to any public area of the Mobile Application, you automatically grant,
    or warrant that the owner of such material has expressly granted to the Mobile and Web
    Applications the royalty-free, perpetual, irrevocable, non-exclusive right and license to use,
    reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part)
    worldwide and/or to incorporate it in other works in any form, media or technology now
    known or hereafter developed for the full term of any copyright that may exist in such
    material.
    ➢ You may download copyrighted material from the Mobile Application only upon purchase.
    Such downloads shall be only for your personal use. Except as otherwise expressly permitted
    by the Mobile and Web Applications or under copyright law, no copying, redistribution,
    retransmission, publication or commercial exploitation of downloaded material will be
    permitted without the express written permission of Rankguru and the copyright owner.
    ➢ If any content posted on the Mobile and Web Applications seems copied from another work
    or if infringing any other copyrighted work, you shall inform us of the same, along with a brief
    statement of reasons for the same so that we may eliminate such infringing work from the
    Mobile and Web Applications.
    ➢ You shall not make any changes in or deletion of author attribution, trademark legend or
    copyright notice in the material copied from the Mobile and Web Applications. You 
    acknowledge that you do not acquire any ownership rights by downloading the copyrighted
    material on the Mobile and Web Applications.
    ➢ You acknowledge and agree that all trademarks included in the Mobile and Web Applications
    are the property of their respective owners. You shall not copy, reproduce or otherwise use
    the trademarks in the Mobile and Web Applications except for your personal, noncommercial use, unless you are authorized to do so by the owner of the trademark.
    ➢ You shall ensure that you have completed Eighteen (18) years of age at the time of
    registering on the Mobile and Web Applications.
    ➢ You shall not share your username or password meant to access your account on the Mobile
    and Web Applications with anyone.
    Rankguru's monitoring:
    ➢ We shall have the right to monitor all the content in the Mobile Application in order
    to ensure that there is no violation of the Terms and Conditions. If we find, in our sole
    discretion, that any content is in violation of the Terms and Conditions or is otherwise
    objectionable, we reserve the right to remove such content from the Mobile and Web
    Applications, without prior notice to you. We shall have the exclusive right to refuse to
    remove material or post certain material on the Mobile and Web Applications. In such
    instances, the Rankguru may also disclose Your Account Information if required by any
    Governmental or legal authority. You understand that the violation of these Terms could also
    result in civil or criminal liability under applicable laws.
    Confidentiality:
    ➢ Information which is specifically identified as confidential at the time of disclosure shall at all
    times be kept confidential by you and shall not be disclosed to anyone without our prior
    written consent. we limit access to this Information to authorized employees only who need
    to know that information in order to operate, develop or improve our
    Application/Services/products/Website. Please be aware that, although we endeavor to
    provide reasonable security for information we process and maintain, no security system can
    prevent all potential security breaches.
    Commercial Terms:
    ➢ You agree that you shall pay all charges and expenses, if any, incurred in connection with use
    and access of the Mobile and Web Applications at the rates in effect when the charges were
    incurred. Such charges shall be charged to the credit card number provided by you during the
    purchase. If you fail to pay such charges, we reserve the right to initiate appropriate legal
    proceedings against you for recovery of such charges.
    Indemnification:
    ➢ You shall hold harmless and indemnify us against any loss, damage or liability arising out of
    or in connection with your use and access of the Mobile and Web Applications and/or the
    contents therein.
    Change in Service:
    ➢ Rankguru reserves the right to modify, suspend, or discontinue the availability of the Mobile
    and Web Applications at any time, and Rankguru will not be liable to you for any damage or
    loss caused to you due to its exercise of such right.
    Reservation of rights::
    ➢ You may not use the Mobile and Web Applications or the contents therein for any illegal
    purpose. Rankguru reserves the right to prohibit you from accessing the Mobile and Web
    Applications.
    Right to Receive the Information:
    ➢ The Mobile and Web Applications shall receive information about your use of the Mobile
    and Web Applications. Such information is subject to our Privacy Policy.
    Limitation of Liability:
    ➢ Neither Rankguru nor any of its officers, directors, employees, partners or agents be liable to
    You or any third party for any special, incidental, indirect, consequential or punitive damages
    for breach of any express or implied warranty, breach of contract, negligence,
    strict liability or any other legal theory.
    Arbitration:
    ➢ The Terms and Conditions shall be construed according to the laws of India and any dispute
    arising between you and Rankguru shall be submitted to arbitration in accordance with the
    Arbitration and Conciliation Act, 1996. You agree to subject yourself to the exclusive
    jurisdiction of courts at Hyderabad, Telangana, India.
    Waiver:
    ➢ Waiver of any breach of the Terms and Conditions shall only be in writing and a waiver of a
    particular breach shall not be deemed to be a waiver of any subsequent or continuing
    breach.
    Severability:
    ➢ If any term or condition of this Terms and Conditions shall be deemed invalid, void, or for
    any reason unenforceable, that part shall be deemed severable and shall not affect the
    validity and enforceability of any remaining term or condition.
    Type of Information Collected
    ➢ When a User access or registers himself/ herself/ itself, the Mobile and Web Applications
    may collect some Personal Information including but not limited to, name, age, email
    address, date of birth, grade, board, target exams, user name, password, financial
    information, debit/ card details of the User or his/ her parents/ guardian and enterprise
    service configuration settings etc.
    (Whatsapp notification also to be added)
    ➢ The Mobile and Web Applications also automatically collects aggregate information about
    the use of the Mobile and Web Applications, including the pages most frequently visited,
    number of visitors this Website receives daily and how long visitors stay on each page.
    ➢ The Services allows you to access third-party enterprise services including without limitation
    Microsoft Office 365 and other Microsoft products or services from the User’s device (“Third
    Party Enterprise Services”). When the User enters his/ her username and password or other
    credentials and settings for the Third-Party Enterprise Services through the Mobile and Web
    Applications, the information submitted by the User are stored securely. Such information
    given is used to connect the User and authenticate him/ her with the Third-Party Enterprise
    Services. The User’s password(s) for the Third- Party Enterprise Services will not be sent to
    the back-end/cloud servers of the Mobile and Web Applications or to any other third-party.
    However, the User’s username and/or email address for the Third-Party Enterprise Services
    will be sent to the back-end/cloud servers of the Mobile and Web Applications for the
    purpose of licensing and enterprise management functions performed by the respective
    enterprise administrators. The Rankguru may also send configuration information about the
    Third-Party Enterprise Services from or to the backend/cloud servers of the Mobile and Web
    Applications, for the purposes of allowing easier configuration of additional devices, or
    enterprise management of these configurations by the respective enterprise administrators,
    or for cloud-based backup and restore functions.
    ➢ The Rankguru may also collect such other anonymous data that is not associated with or
    linked to any Personal Data (“Anonymous Data”) of the User and which, by itself, does not
    permit the identification of any individual User. Anonymous Data includes without
    limitation, unique identifiers of the device on which the Mobile and Web Applications is
    installed, such as VPN, information of Wi-Fi connectivity and such other information. The
    Rankguru may also store these unique identifiers, at many times and create a profile for you
    based on such Anonymous Data.
    ➢ The Mobile and Web Applications uses data collection devices such as “cookies” on your
    device through which the Services is accessed that assist the Rankguru (a) in providing
    Services; and (b) to allow you to enter your password less frequently during a session.
    Use of the information Collected
    ➢ The Personal Information that the Rankguru collects from and about the User may be used
    to provide the Services in an enhanced way. The Rankguru may monitor the User’s use of
    the Services, and may freely use and disclose any information and materials received from
    the User or collected through his/ her use of the Mobile and Web Applications for such
    purposes as the Rankguru may deem appropriate, including but not limited to the purposes
    set out herein.
    • to effectively provide the Services;
    • for the purposes of Mobile and Web Applications verification or administering
    Application upgrades;
    • to allow User to participate in surveys regarding Services;
    • to maintain the quality of the Services and provide general statistics regarding its use;
    • to deliver Services, including email notifications, confirmations, technical notices,
    updates, security alerts, and support and administrative messages that the User
    may request;
    • archival or backup purposes;
    • to alert User about updated information and other such new or updated Services that
    may be offered by the Rankguru;
    • to allow access to exclusive features or functionality of “Rank Guru” Learning Platform;
    and
    • to resolve disputes, collect fees and troubleshoot problems.
    Sharing of Information
    ➢ The Rankguru may provide Personal Information of the User that it collects to third parties
    when such third parties desire to provide, on a limited basis, information that may be of
    interest to the User.
    ➢ The Rankguru may provide Personal Information if required to do so by law or regulation; to
    its legal counsel, law enforcement officers, governmental authorities who have asserted
    their lawful authority to obtain the information or where the Rankguru has in good faith
    reasonable grounds to believe that such disclosure is reasonably necessary to enforce its
    Terms of Use or this Privacy Policy.
    ➢ The Rankguru shall not rent, sell, or otherwise provide Personal Data received from you to
    third parties without your consent, except as described in this Policy or as required by law.
    However, the Rankguru and its affiliates reserve the right to share, sell and transfer some
    or all of the Personal Data to other business entities should the Rankguru, or its assets, plan
    to merge with, or be acquired by that business entity.
    Security of Personal Information
    ➢ The Rankguru is committed to protecting the security of any Personal Information of the
    User and uses reasonable efforts including a variety of security technologies and procedures
    to help protect such Personal Information from any unauthorized access, use or disclosure.
    The Rankguru will take all reasonable measures in furtherance of the above commitment.
    However, the Rankguru cannot guarantee that the Personal Data received from the User and
    other information stored on the servers will be absolutely protected. Rankguru’s systems
    and the communications networks through which User access the Services may be subject to
    security breaches and failures due to circumstances beyond Rankguru’s reasonable control.
    These may include computer "hacking", data theft or and physical theft among others. In
    such situations, the Rankguru will try to rectify the problems as soon as possible.
    ➢ The User hereby acknowledges and understands that all Personal Information provided in
    using the Services is with their knowledgeable consent and at the User’s own risk.
    International Transfer of Data
    ➢ In the process of providing Services to the Users, the Rankguru may transfer the Personal
    Information and other information that it collects to affiliated entities or other third parties
    across borders, and from the Users’ country or jurisdiction to other countries or jurisdictions
    around the world. The Users understand, acknowledge and consent to transferring
    information and permitting the transfer of information, including Personal Information, to a
    country and jurisdiction that does not have the same data protection laws as the Users’
    jurisdiction. The Users hereby consent to the transfer of his/ her/its information across
    countries or jurisdictions around the world.
    Modifications
    ➢ The Rankguru may revise and update this Privacy Policy at any time by posting such revised
    Privacy Policy on the Application. User should periodically review the above Application for
    the latest information on privacy practices. Once posted, those changes are effective
    immediately. Continued access or use of the Services constitutes your acceptance of the
    changes and the amended Policy. By using the Mobile Application, you consent to the
    collection and use of your information as outlined in this Privacy Policy and to the Terms of
    Use for use.
    Governing Law
    ➢ The usage of the Services is exclusively governed by the laws of India and the jurisdiction of
    the courts in the State of Telangana. The Rankguru expressly disclaims any implied
    warranties or liabilities imputed by the laws of any other jurisdiction.
    Advertisements
    ➢ The Mobile and Web Applications may use third-party advertising companies to serve
    advertisements when the User contacts it. These companies may use information (not
    including name, address, email address, or telephone number of the user) about the User’s
    visits to the Mobile Application and other websites in order to provide advertisements about
    goods and services of interest to User.
    Grievance/ Queries
    ➢ Any grievances or queries regarding this statement should be directed to the following
    contact address:
    Rankguru Technology Solutions Private Limited.
    Plot no.141, Survey no.11/11-11/1,
    Khanamet, Ranga Reddy District,
    Ayappa society, Madhapur, Hyderabad, Telangana,
    Pin Code – 500081, India.
    DISCLAIMER: THE APPLICATION AND THE SERVICES ARE PROVIDED ON AN
    "AS IS" BASIS WITH ALL FAULTS AND WITHOUT ANY WARRANTY OF ANY
    KIND. THE RANKGURU HEREBY DISCLAIMS ALL WARRANTIES AND
    CONDITIONS WITH REGARD TO THE APPLICATION/PRODUCTS AND THE
    SERVICES, INCLUDING WITHOUT LIMITATION, ALL IMPLIED WARRANTIES AND
    CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
    TITLE, ACCURACY, TIMELINESS. PERFORMANCE, COMPLETENESS, SUITABILITY
    AND NON-INFRINGEMENT. ADDITIONALLY, THE RANKGURU SHALL NOT BE
    LIABLE FOR ANY DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE
    USE OR PERFORMANCE OF THE APPLICATION OR THE SERVICES. YOUR USE OF
    ANY INFORMATION OR MATERIALS ON THIS
    APPLICATION/SERVICES/PRODUCTS IS ENTIRELY AT YOUR OWN RISK, FOR
    WHICH WE SHALL NOT BE LIABLE. IT SHALL BE YOUR OWN RESPONSIBILITY
    TO ENSURE THAT SERVICES PROVIDED BY US MEET YOUR SPECIFIC
    REQUIREMENTS.
    Feedback:
    Any feedback You provide with respect to the Application shall be deemed to be non-confidential.
    The Application shall be free to use such information on an unrestricted basis. Further, by
    submitting the feedback, You represent and warrant that (i) Your feedback does not contain
    confidential or proprietary information of You or of third parties; (ii) the Rankguru is not under any
    obligation of confidentiality, express or implied, with respect to the feedback; (iii) the Application
    may have something similar to the feedback already under consideration or in development; and
    (iv) You are not entitled to any compensation or reimbursement of any kind from the Rankguru for
    the feedback under any circumstances, unless specified.
    • Under no circumstances shall the Rankguru be held responsible in any manner for any
    content provided by other users even such content is offensive, hurtful or offensive. Please
    exercise caution while accessing the Application.
    Customer care: :
    Contact us for information concerning terms and conditions, by e-mail:
    queries@rankgurutech.com Reach of service support contact customer service by
    lmssupport@rankgurutech.com or by Phone at 91-040-30001999
            </pre>
        </div> -->

        <!-- </form> -->

    </mat-dialog-content>
    <div class="pt-30">
        <button class="btn btn-primary btn-block" type="button" id="AgreeTerms" (click)="acceptTerms()"
            data-toggle="modal" data-dismiss="modal">UNDERSTOOD, I AGREE
        </button>
    </div>
</div>