.field-icon {
  position: absolute; top:  15px; right: 10px;
  z-index: 2;
}
  
  .email-icon {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }
  
  .error-msg {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #d60000;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .next-btn-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    margin: 0px 8px;
    position: static;
    width: 82px;
    height: 45px;
    left: 0px;
    top: 0px;
    border-radius: 56px;
    border: none;
    border-width: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    background: #263643;
  }
  
  .set-up-later {
    position: static;
    width: 400px;
    height: 17px;
    left: 90px;
    top: 14px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #1279c8;
    text-align: right;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin: 0px 8px;
  }
  
  .stepDisplay {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #263643;
    opacity: 0.6;
  }
  
  .setup-account-input-icons img {
    position: absolute;
  }
  
  .setup-account-input-icons {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }
  
  .setup-account-icon {
    padding: 10px;
    min-width: 40px;
  }
  
  .setup-account-input-field-left {
    width: 100%;
    padding-left: 40px;
    text-align: left;
  }
  

  .info-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    
    position: static;
    /* width: 439px; */
    height: 64px;
    right: 24px;
    top: 71px;
    
    /* Color/Dark Grey/400 */
    
    background: #324452;
    border-radius: 8px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
  }

  .info-content{
    position: static;
    width: 423px;
    height: 48px;
    left: 8px;
    top: 8px;
    
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 10px;
  }